<div class="container mt-4 text-center">
  <h1 class="display-4 mt-4">Welcome to MyHaikus</h1>
  <p class="lead">
    MyHaikus is a platform that allows users to explore a diverse collection of known authors and their haikus.
    Effortlessly manage your own haikus and view those created by others, making it easy to appreciate the beauty of this unique form of poetry.
    Join us to create, update, delete, and share haikus in a user-friendly environment!
  </p>
</div>
<app-all-author-haikus></app-all-author-haikus>
<app-all-user-haikus></app-all-user-haikus>
