<div class="container mt-5 text-center">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0"><i class="fas fa-pen-fancy ms-n2"></i> Update User Haiku</h3>
        </div>
        <div class="card-body">
          <div *ngIf="errorMessages.update" class="alert alert-danger mt-3">{{ errorMessages.update }}</div>
        </div>
        <div class="p-4">
          <ul class="list-unstyled">
            <li class="mb-2">
              <span class="fw-bold text-muted" style="overflow: auto; white-space: nowrap;">
                <i class="fas fa-pencil-alt me-1"></i> Title
              </span>: Minimum length of 2 characters, maximum of 50 characters. If left empty, it defaults to "Untitled".
            </li>
            <li>
              <span class="fw-bold text-muted" style="overflow: auto; white-space: nowrap;">
                <i class="fas fa-pencil-alt me-1"></i> Line One
              </span>: Total length of 5 syllables.
            </li>
            <li>
              <span class="fw-bold text-muted" style="overflow: auto; white-space: nowrap;">
                <i class="fas fa-pencil-alt me-1"></i> Line Two
              </span>: Total length of 7 syllables.
            </li>
            <li>
              <span class="fw-bold text-muted" style="overflow: auto; white-space: nowrap;">
                <i class="fas fa-pencil-alt me-1"></i> Line Three
              </span>: Total length of 5 syllables.
            </li>
          </ul>
          <p class="lead">Fields marked with * are required.</p>
        </div>
        <ng-container *ngIf="loadingStates.update; else updateTemplate">
          <div class="d-flex justify-content-center align-items-center mt-3" style="height: 100px;">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </ng-container>
        <ng-template #updateTemplate>
          <div class="card-body">
            <app-update-user-haiku-form [userHaikuDto]="userHaikuDto" (formSubmit)="updateUserHaiku($event)"></app-update-user-haiku-form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
